/* --- Estilos de productos-carrito --- */
.productos-carrito {
    display: grid;
    /* Distribución en cuadrícula */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Ajuste automático */
    gap: 20px;
    /* Separación entre productos */
    margin-top: 20px;
    /* Margen superior */
}

/* Estilo para el contador del carrito */
#contador-carrito {
    background-color: var(--color-dark-violet);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 100%;
}

/* Botones del carrito*/
.botones {
    border: 2px solid rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    color: var(--color-black);
}

.boton-compra {
    background-color: var(--color-pink-violet);
}

.boton-eliminar {
    background-color: var(--color-red);
}

.boton-compra:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.boton-eliminar:hover {
    background-color: var(--color-dark-red);
    color: var(--color-white);
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {}

/* Pantallas pequeñas (celular) */
@media (max-width: 480px) {}