/* Contenedor de productos */
.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  gap: 2rem;
}

/* Estilo de cada tarjeta de producto */
.producto {
  background-color: white;
  width: calc(33% - 2rem);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px var(--color-black);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.producto:hover {
  transform: scale(1.02);
}

/* Imagen del producto */
.producto img {
  max-width: 60%;
  height: auto;
  margin-bottom: 5px;
  object-fit: contain;
}

/* Texto del precio */
.producto .precio {
  font-weight: bold;
  font-size: 1rem;
}

.producto .info-producto{
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.producto .info-producto .precio-carro{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Texto del producto */
.producto p {
  font-size: 0.85rem;
  color: var(--color-black);
  line-height: 1.4;
  margin-bottom: 10px;
}

/* Botón de añadir al carrito */
.producto .boton-compra {
  background-color: var(--color-pink-violet);
  color: var(--color-black);
  border: 2px solid rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.boton-compra:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .productos {
    justify-content: center;
  }

  .producto {
    width: 45%;
  }

  .producto img {
    max-width: 80%;
  }
}

/* Pantallas pequeñas (celular) */
@media (max-width: 480px) {
  .productos {
    justify-content: center;
  }

  .producto {
    width: 90%;
  }

  .producto img {
    max-width: 75%;
  }
}
