/*Configuraciones generales*/
:root {
  --color-pink: rgb(224, 162, 172);
  --color-black: #120907;
  --color-dark-violet: #26253a;
  --color-medium-violet: #605b85;
  --color-violet: #a39ddf;
  --color-pink-violet: #e6d5ed;
  --color-white: rgb(255, 255, 255);
  --color-red: rgb(177, 54, 74);
  --color-dark-red: rgb(90, 20, 31);
  --tipo-principal: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  height: auto;
}

body {
  font-family: var(--tipo-principal);
}

section {
  scroll-margin-top: 60px;
}

/*---------------------------*/
.subtitulo {
  margin: 10px 0;
}

.centrar {
  display: flex;
  justify-content: center;
}

/* Logo */
.logo img {
  max-width: 100%; /* Asegura que el logo se ajuste al tamaño del contenedor */
  height: auto;
  max-height: 60px; /* Establece una altura máxima para el logo */
  display: flex;
  align-items: center;
}

/* Navbar */
.navbar-items {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-pink-violet);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  transition: all 0.5s ease;
  z-index: 1000;
  
}

/*Menu del navbar*/
.menu-container {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 10px;
}

.menu li a {
  color: var(--color-black);
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  padding: 5px;
  background-color: var(--color-violet);
  color: var(--color-black);
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.5s ease;
}

/* Seccion de bienvenida */
.bienvenida {
  background-color: var(--color-dark-violet);
  padding: 40px 20px;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  gap: 20px; 
}

.bienvenida h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  order: 0; /* El título se pone primero en la dirección por defecto */
}

.bienvenida p {
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Carousel */
.carousel {
  margin-top: 10px; /* Espacio superior antes del carrusel */
  max-width: 100%; /* Asegura que el carrusel no se desborde */
}

.carousel-item img {
  height: 500px; /* Altura fija de las imágenes */
  object-fit: contain; /* Las imágenes cubren todo el espacio disponible */
  padding: 10px;
}

/* Productos destacados */
.productos-destacados {
  background-color: var(--color-violet);
}

/* Formulario - Contacto*/
#contacto {
  margin-top: 10px;
}

#contacto form {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* Alinea los elementos del formulario en una columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  justify-content: center;
  /* Centra los elementos verticalmente */
  margin: 0 auto;
  /* Centra el contenedor del formulario */
  padding: 20px;
  /* Ancho por defecto en pantallas grandes */
  width: 60%;
  /* Ajusta el ancho del formulario según sea necesario */
  box-shadow: 0 0 15px #605b857a;
  background-color: var(--color-white);
}

#contacto label,
#contacto input,
#contacto textarea {
  width: 100%;
  margin: 10px 0;
}

#contacto textarea {
  resize: none;
}

/* Botones - formulario*/

.boton {
  font-family: var(--tipo-principal);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  width: 100%;
}

#boton-enviar {
  background-color: var(--color-pink-violet);
}

#boton-enviar:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

#boton-borrar {
  background-color: var(--color-violet);
}

#boton-borrar:hover {
  background-color: var(--color-black);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.596);
}

/* Footer */
footer {
  padding: 10px;
  text-align: center;
}

/* ----------------------------------------------------------------- */

/* Media Queries para pantallas medianas (tablets) */
@media (max-width: 768px) {
  #contacto form {
    width: 80%; /* Cambiar el ancho del formulario a un 80% en pantallas pequeñas */
    padding: 15px; /* Reducimos un poco el padding para que no quede tan apretado */
  }

  #contacto input,
  #contacto textarea {
    font-size: 1rem; /* Aumentamos el tamaño de fuente para mejorar la legibilidad */
  }

  #contacto button {
    font-size: 1.1rem; /* Aumentamos el tamaño del texto de los botones */
    padding: 12px; /* Un poco más de espacio en los botones */
  }

  /* Ajustamos la altura de las imágenes del carrusel */
  .carousel-item img {
    height: 300px;
  }
}

/* Media query para pantallas a partir de 650px */
@media (max-width: 650px) {
  /* Navbar se organiza en columna */
  .navbar-items {
    padding: 15px;
    flex-direction: column; /* Apila el logo y el menú en una columna */
    justify-content: flex-start;
    align-items: center; /* Centra el contenido (logo y menú) */
  }

  /* Ocultar el logo en pantallas menores a 650px */
  .logo img {
    display: none;
  }

  .menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* Se particiona el menu en 3 columnas usando Grid */
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 15px; 
    padding: 0;
    margin: 0;
    list-style: none;
    justify-items: center; 
    width: 100%; 
  }

  .menu li {
    margin: 0;
  }

  .menu li a {
    font-size: 14px;
  }

  /* Mensaje de bienvenida */
  .bienvenida {
    flex-direction: column;
    text-align: center;
  }

  .bienvenida h1 {
    font-size: 2rem; 
    margin-top: 10px;
  }

  .bienvenida p {
    font-size: 1rem; 
    margin-top: 10px;
  }

  main {
    padding-top: 100px;
  }
}
/* Media Queries para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
  #contacto form {
    width: 80%; /* Cambiar el ancho del formulario a un 80% en pantallas pequeñas */
    padding: 15px; /* Reducimos un poco el padding para que no quede tan apretado */
  }

  #contacto input,
  #contacto textarea {
    font-size: 1rem; /* Aumentamos el tamaño de fuente para mejorar la legibilidad */
  }

  #contacto button {
    font-size: 1.1rem; /* Aumentamos el tamaño del texto de los botones */
    padding: 12px; /* Un poco más de espacio en los botones */
  }

  .centrar.botones {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    width: 100%; 
  }

  main {
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Ajustamos la altura de las imágenes del carrusel */
  .carousel-item img {
    height: 200px;
    object-fit: contain; 
  }

  .carousel-inner {
    width: 100%;
    padding: 0 10px;
  }

  /* Ajustamos los títulos en el pie de página */
  footer form h1,
  footer h1 {
    font-size: 20px;
  }

  /* Ajustamos el tamaño del enlace en el pie de página */
  footer a {
    font-size: 16px;
  }
}
